################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mqtt-csharp/obj
/mqtt-csharp/bin/Debug/netcoreapp2.1
/rabbitmq/.vs/python-rabbitmq/v16
/rabbitmq/.vs/python-rabbitmq/DesignTimeBuild
